* {
  background-color: white;
  font-family: arial, sans-serif;
  text-decoration: none;
     
}

ul {
  list-style-type: none;
  color-adjust:inherit;
  margin: 0;
  padding: 0;
   
}

a {
  color: #70757a;
  font-size: 14px;
  background-color: #f2f2f2;
}

.navtopli {
  color: #222222;
  font-size: 14px;
  background-color: transparent;
}

.navtopre {
  color: black;
  font-size: 13px;
  line-height: 24px;
  background-color: transparent;
}

#navbar-left li {
  display: inline;
  float: left;
  margin: 5px;
  padding: 5px;
  width: 40px;
}


#navbar-right li {
  float: inline-end;
  margin: 5px;
  padding: 5px;
  width: auto;
}

#signin {
  width: 80px;
  padding: 10px 5px 10px 5px;
  color: white;
  background-color: #1a73e8;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  
}

#appsicon {
  width: 10px;
  text-decoration: none;
  font-style:initial;
  color: #5f6368;
  background-color: transparent;
  
}

nav {
  background-color: #f2f2f2;
}

#navbar-footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  
}

#navbar-bottom-left li {
  background-color: #f2f2f2;
  float: inline-start;
  margin: 23px;
    
}

#navbar-bottom-right li {
  background-color: #f2f2f2;
  float: inline-end;
  margin: 23px;
  
}

li :hover {
  text-decoration: underline;

}

h1 {
  position: fixed;
  top: 27%;
  left: 37%;
}


.combinedsearch {
  position: fixed;
  width: 70%;
  max-width: 600px;
  top: 42%;
  left: 30%;
  
}

.combinedsearch .search {
  position: relative;
  display: flex;
}

.combinedsearch .searchTerm {
  width: 100%;
  border: 1px solid #E5E5E5;
  border-left: none;
  padding: 5px;
  border-radius: 0 35px 35px 0;
  outline: none;
  font-size: 18px;
  
}
  
.combinedsearch .searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #E5E5E5;
  border-right: none;
  background: none;
  text-align: center;
  border-radius: 35px 0 0 35px;
  font-size: 17px;
  padding-left: 15px;
}

.searchButton {
  color:rgb(181, 180, 182);
}

.combinedsearch .search:hover {
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 35px 35px 35px 35px;
}

.search-lucky {
  position: fixed;
  top: 50%;
  left: 37%;
}

#search,#lucky {
  position:flex;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

#search:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 4px 4px;
  border-color: #E5E5E5;

}

#lucky:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 4px 4px;
  border-color: #E5E5E5;
}